asyncio==3.4.3
attrs==19.3.0
Automat==0.8.0
autopep8==1.4.4
certifi==2019.11.28
chardet==3.0.4
constantly==15.1.0
cx-Freeze==6.0
emoji==0.5.4
entrypoints==0.3
ez-setup==0.9
flake8==3.7.9
gobject==0.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
mccabe==0.6.1
prompt-toolkit==1.0.14
pycairo==1.18.2
pycodestyle==2.5.0
pyfiglet==0.8.post1
pyflakes==2.1.1
Pygments==2.5.1
PyGObject==3.34.0
PyHamcrest==1.9.0
PyInquirer==1.0.3
regex==2019.11.1
requests==2.22.0
six==1.13.0
termcolor==1.1.0
Twisted==19.10.0
urllib3==1.25.7
wcwidth==0.1.7
yelpapi==2.4.0
zope.interface==4.7.1
